<script src="~/Content/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/Content/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Content/assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="~/Content/assets/js/date-time/datepicker-zh-TW.js"></script>
<link href="~/Content/assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
<link href="~/Content/assets/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/assets/css/ace.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/bootbox")
<div>
    <ul class="nav nav-tabs" id="quotaTabs">
        <li class="active" id="quotaList" style="border:none;">
            <a href="#qlist" data-toggle="tab" onclick="javascript:SetCurrentGrid();">
                日志列表
            </a>
        </li>
    </ul>
    <div class="tab-content" style="height:auto; overflow-y:auto;">
        <div id="qlist" class="tab-pane active">
            <div class="form-group">
                <div class="clearfix">
                    <span class="control-label col-xs-8 col-sm-1">执行状态：</span>
                    <div class="col-xs-12 col-sm-1">
                        <select name="logtype" id="logtype" class="col-xs-12">
                            <option value="">--请选择--</option>
                            <option value="Success">Success</option>
                            <option value="Error">Error</option>
                        </select>
                    </div>
                    <span class="control-label col-xs-8 col-sm-1">任务类型：</span>
                    <div class="col-xs-12 col-sm-2">
                        <select name="jobtype" id="jobtype" class="col-xs-12">
                            <option value="">--请选择--</option>
                            @foreach (KeyValuePair<string, string> kv in ViewBag.JobTypeInfo as Dictionary<string, string>)
                            {
                                <option value="@kv.Key">@kv.Value</option>
                            }
                        </select>
                    </div>
                    <span class="control-label col-xs-12 col-sm-1">额度类型：</span>
                    <div class="col-xs-12 col-sm-2">
                        <select name="amttype" id="amttype" class="col-xs-12">
                            <option value="">--请选择--</option>
                            @foreach (var item in @ViewBag.AmtListInfo)
                            {
                                <option value="@item.AMT_TYPE">@item.AMT_NAME</option>
                            }
                        </select>
                    </div>
                    <span class="control-label col-xs-12 col-sm-1">使用日期：</span>
                    <div class="input-group col-xs-12 col-sm-2">
                        <input type="text" name="useDate" id="useDate" class="form-control date-picker" data-date-format="yyyy-mm-dd"
                               data-val="true" readonly="readonly" />
                        <span class="input-group-addon"
                              style="cursor:pointer;">
                            <i class="icon-calendar bigger-110"></i>
                        </span>
                    </div>
                    <button class="btn btn-sm btn-success" onclick="Query()">
                        <i class="icon-search nav-search-icon"></i>查询
                    </button>
                </div>
            </div>
            <table id="qlist-grid-list"></table>
            <div id="qlist-grid-pager"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var qlist_grid_list = "#qlist-grid-list";
    var qlist_grid_pager = "#qlist-grid-pager";

    jQuery(function () {
        jQuery("#useDate").datepicker({
            autoclose: true,
            changeYear: true,
            changeMonth: true,
            language: 'cn',
            beforeShow: function () {
                setTimeout(function () {
                    jQuery('.ui-datepicker').css('z-index', function (index, value) {
                        return parseFloat(value) + 5;
                    });
                }, 0);
            }
        }).next().on(ace.click_event, function () {
            jQuery(this).prev().focus();
        });

        var hs = window.location.hash;
        if (!hs) {
            hs = "#qlist";
        }

        jQuery('#quotaTabs').find('a[href="' + hs + '"]').click();

        //SetCurrentGrid()
        /*侧边栏收放的时候重新计算内容宽度*/
        jQuery('#sidebar-collapse').click(function () {
            jQuery(window).resize();
        });

        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;';
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else title.text($title);
            }
        }));
    });

    /*设置当前页签 */
    function SetCurrentGrid() {
        //加载额度列表
        LoadQuotaAssignList();
    }

    // 加载自动任务日志列表
    function LoadQuotaAssignList() {
        var url = "/SystemConfig/GetBidAutoJobLogList"; //请求地址
        var colNames = ['<i class="hidden-480 icon-book"></i> 执行状态',
            '<i class="hidden-480 icon-book"></i> 任务类型', '<i class="hidden-480 icon-calendar"></i> 额度类型',
            '<i class="hidden-480 icon-calendar"></i> 执行件数',
            '<i class="hidden-480 icon-book"></i> 执行日期', '<i class="hidden-480 icon-calendar"></i> 执行日志'];
        var colModel = [
            { name: 'LOG_TYPE', index: 'LOG_TYPE', width: '8%' },
            { name: 'JOB_TYPE_NAME', index: 'JOB_TYPE_NAME', width: '10%' },
            { name: 'AMT_TYPE_NAME', index: 'AMT_TYPE_NAME', width: '10%' },
            { name: 'EXCUTE_COUNT', index: 'EXCUTE_COUNT', width: '7%' },
            { name: 'CREATE_TIME', index: 'CREATE_TIME', width: '10%', formatter: 'date', formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d  H:i:s' } },
            { name: 'EXCUTE_MSG', index: 'EXCUTE_MSG', width: '55%' },
        ];
        LoadGrid(qlist_grid_list, qlist_grid_pager, url, colNames, colModel, {})
    }

    /****************jQuery jqGrid Begin****************/
    function LoadGrid(_gridId, _pager, _url, _colNames, _colModel, _postData) {
        jQuery(_gridId).jqGrid({
            url: _url,
            //data: _data,
            datatype: "json",
            mtype: "POST",
            height: jQuery(window).height() - 335,
            width: jQuery('.tab-content').width() - 100,
            colNames: _colNames,
            colModel: _colModel,
            postData: _postData,
            viewrecords: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            pager: _pager,
            altRows: true,
            jsonReader: {
                root: "DataList",
                total: "TotalRecords",
                page: "CurrentPage",
                records: "TotalCount",
                repeatitems: false
            },
            loadComplete: function () {
                var table = this;
                var re_records = jQuery(this).getGridParam('records');
                if (re_records == 0 || re_records == null) {
                    Utilities.alertTip("对不起，未找到符合条件的记录！");
                };
                setTimeout(function () {
                    updatePagerIcons(table);
                    jQuery('.ui-jqgrid-bdiv').css("overflow-x", "hidden");
                }, 0);
                jQuery(window).resize();
            },
            autowidth: true

        });

    }
    /*处理分页控件样式*/
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev': 'icon-angle-left bigger-140',
            'ui-icon-seek-next': 'icon-angle-right bigger-140',
            'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        })
    };

    jQuery(window).resize(function () {
        jQuery(window).unbind("onresize");
        jQuery(qlist_grid_list).setGridHeight(jQuery(window).height() - 335);
        jQuery(qlist_grid_list).setGridWidth(jQuery('.tab-content').width());
        jQuery('.ui-jqgrid-hbox').each(function () {
            jQuery(this).find('th').last().css('width', (jQuery(this).find('th').last().width() + 25) + 'px');
        });
        jQuery(window).bind("onresize", this);
    });
    /****************jQuery jqGrid End****************/

    // 查询额度列表
    function Query() {
        var para = { logtype: $("#logtype").val(),jobtype: $("#jobtype").val(), amttype: $("#amttype").val(), useDate: $("#useDate").val() };
        jQuery(qlist_grid_list).jqGrid('setGridParam', {
            datatype: 'json',
            postData: para  /*发送数据 */
        }).trigger("reloadGrid"); /*重新载入  */
    }
</script>
