@model QK.QAPP.Entity.APP_GLOBALCONFIG
@{
    ViewBag.Title = "DFormFieldEdit";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<style>
    .form-group {
        margin-bottom: 2px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" id="frmInfo" role="form">
            <input type="hidden" id="ID" name="ID" value="@Model.ID" />
            <fieldset>
                <legend>配置信息</legend>
                @*KEY*@
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="KEY">KEY</label>

                    <div class="col-sm-9">
                        <input id="KEY" class="col-xs-10 col-sm-5" name="KEY" type="text" value="@Model.KEY">
                    </div>
                </div>

                <div class="space-1"></div>
                @*VALUE*@
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="VALUE">VALUE</label>

                    <div class="col-sm-9">
                        <textarea id="VALUE" class="col-xs-10 col-sm-5" name="VALUE" type="text" rows="4">@Model.VALUE</textarea>
                    </div>
                </div>

                <div class="space-1"></div>
                @*备注*@
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="REMARK">备注</label>

                    <div class="col-sm-9">
                        <textarea id="REMARK" class="col-xs-10 col-sm-5" name="REMARK" type="text" rows="4">@Model.REMARK</textarea>
                    </div>
                </div>

                <div class="space-1"></div>
                @*备注*@
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="SORT">排序</label>

                    <div class="col-sm-9">
                        <input id="SORT" class="col-xs-10 col-sm-5" name="SORT" type="text" value="@Model.SORT">
                    </div>
                </div>

                <div class="space-1"></div>
                @*备注*@
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="CATEGORY">类型</label>

                    <div class="col-sm-9">
                        <input id="CATEGORY" class="col-xs-10 col-sm-5" name="CATEGORY" type="text" value="@Model.CATEGORY">
                    </div>
                </div>
                @*备注*@
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">父键</label>

                    <div class="col-sm-9">
                        <input class="col-xs-10 col-sm-5" type="text" disabled="disabled">
                    </div>
                </div>


                <div class="space-1"></div>
            </fieldset>
        </form>
    </div>

</div>
<div class="modal-footer" style="position: fixed; width: 100%; bottom: 0; height: 50px; z-index: 1000000">
    <button class="btn btn-sm" data-dismiss="modal" onclick="parent.CloseDialog();">
        <i class="icon-remove"></i>
        取消
    </button>

    <button class="btn btn-sm btn-primary" onclick="saveData();">
        <i class="icon-ok"></i>
        保存
    </button>
</div>

<script type="text/javascript">
    function saveData() {
        $.ajax({
            type: "post",
            url: "/SystemConfig/EditGlobalConfig",
            data: $("#frmInfo").serialize(),
            async: true,
            success: function (d) {
                if (d) {
                    Utilities.alertTip(d);
                }
                else {
                    Utilities.alertTip("保存成功!");
                    parent.CloseDialog();
                }
            }
        });

    }

    $(function () {
        var id = Utilities.getUrlParam("id");
        if (id && id != "0") {
            $("#KEY").attr("readonly", "readonly");
        }

    });
</script>
