<!--TODO 先加载默认图片 然后异步获取图片-->
<!--右侧导航数据-->
<div class="navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <!--任务数据(百分比)-->
        <li class="grey" style="display:none">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-tasks"></i>
                <span class="badge badge-grey">4</span>
            </a>

            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="icon-ok"></i>
                    还有4个任务完成
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">软件更新</span>
                            <span class="pull-right">65%</span>
                        </div>

                        <div class="progress progress-mini ">
                            <div style="width:65%" class="progress-bar "></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">硬件更新</span>
                            <span class="pull-right">35%</span>
                        </div>

                        <div class="progress progress-mini ">
                            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">单元测试</span>
                            <span class="pull-right">15%</span>
                        </div>

                        <div class="progress progress-mini ">
                            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">错误修复</span>
                            <span class="pull-right">90%</span>
                        </div>

                        <div class="progress progress-mini progress-striped active">
                            <div style="width:90%" class="progress-bar progress-bar-success"></div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        查看任务详情
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <!--通知数据(项目名称+数量)-->
        <li class="purple" style="display:none">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell"></i>
                <span class="badge badge-important">8</span>
            </a>

            <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="icon-warning-sign"></i>
                    8条通知
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">
                                <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                                新闻评论
                            </span>
                            <span class="pull-right badge badge-info">+12</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="btn btn-xs btn-primary icon-user"></i>
                        切换为编辑登录..
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">
                                <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                                新订单
                            </span>
                            <span class="pull-right badge badge-success">+8</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">
                                <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                                粉丝
                            </span>
                            <span class="pull-right badge badge-info">+11</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        查看所有通知
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <!--用户消息(头像+信息)-->
        <li class="green">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                @*<i class="icon-envelope icon-animated-vertical"></i>*@
                <i class="icon-bell-alt icon-animated-bell"></i>
                <span class="badge badge-warning msg-Count"></span>
            </a>

            <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" style="width:380px">
                <li class="dropdown-header" id="msglist-count">
                    <i class="icon-envelope-alt"></i>
                    @* @Model.Count 条消息*@
                    <span class="msg-Count">载入中..</span> 条消息
                </li>
                @*@foreach (var item in Model as List<QK.QAPP.Entity.APP_MSGBOX>)
                    {
                            <li>
                                <a href="@item.URL">
                                    <img src="/Content/assets/images/tip2.png" class="msg-photo" />
                                    <span class="msg-body" style="width:360px">
                                        <span class="msg-title" style="width: 360px">
                                            @MvcHtmlString.Create(item.CONTENT)
                                        </span>
                                        <span class="msg-time" style="float:left">
                                            <i class="icon-time"></i>
                                            <span>@(item.CREATETITME.HasValue ? item.CREATETITME.Value.ToString("yyyy/MM/dd hh:mm") : "")</span>
                                        </span>
                                        @if (ViewBag.UserAccount != item.USERNAME)
                                    {
                                            <span class="msg-time" style="float:left;">
                                                <i class="icon-user"></i>
                                                <span>客服:<span class="blue">@item.USERNAME</span></span>
                                            </span>
                                    }

                                    </span>
                                </a>
                            </li>
                    }*@
                <li>
                    <a href="/home/index">
                        查看所有消息
                        <i class="icon-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <!--当前用户(头像+欢迎+名称)-->
        <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="@ViewBag.UserImage" onerror="this.src='/Content/assets/avatars/avatar2.png'" />
                <span class="user-info">
                    <small>@ViewBag.Title</small>
                    @ViewBag.UserName
                </span>

                <i class="icon-caret-down"></i>
            </a>

            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                @*<li>
                        <a href="#">
                            <i class="icon-cog"></i>
                            设置
                        </a>
                    </li>*@

                <li>
                    <a href="/Home/Index">
                        <i class="icon-user"></i>
                        个人资料
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="/home/Logout">
                        <i class="icon-off"></i>
                        退出
                    </a>
                </li>
            </ul>
        </li>
    </ul><!-- /.ace-nav -->
</div><!-- /.navbar-header -->
<script type="text/javascript">
    var GUser = {};
    GUser.UserAccount = '@ViewBag.UserAccount';
    GUser.UserName = '@ViewBag.UserName';
    GUser.Title = '@ViewBag.Title';
    GUser.UserImage = '@ViewBag.UserImage';
    GUser.City = '@ViewBag.City';
    GUser.Company = '@ViewBag.Company';
    GUser.Deparment = '@ViewBag.Deparment';

    GUser.RoleList = '@ViewBag.RoleList';
</script>


<script type="text/javascript">
    $(function () {
        //异步加载消息列表-20150209
        $.ajax({
            type: "POST",
            url: "/Home/GetUserMessageList",
            cache: false,
            dataType: "json",
            success: function (result) {
                //设置消息总条数
                $('.msg-Count').text(result.count);
                var html = '';
                $(result.list).each(function (index, element) {
                    html += '<li>';
                    html += '   <a href="' + element.URL + '">';
                    html += '       <img src="/Content/assets/images/tip2.png" class="msg-photo" />';
                    html += '       <span class="msg-body" style="width:360px">';
                    html += '           <span class="msg-title" style="width: 360px">';
                    html += '               ' + element.CONTENT + '';
                    html += '           </span>';
                    html += '           <span class="msg-time" style="float:left">';
                    html += '               <i class="icon-time"></i>';
                    html += '               <span>' + FormatMSDateTime_Msg(element.CREATETITME) + '</span>';
                    html += '           </span>';
                    if ('@ViewBag.UserAccount' != element.USERNAME) {
                        html += '       <span class="msg-time" style="float:left;">';
                        html += '            <i class="icon-user"></i>';
                        html += '            <span>客服:<span class="blue">' + element.USERNAME + '</span>';
                        html += '       </span>';
                    }
                    html += '       </span>';
                    html += '   </a>';
                    html += '</li>';
                });
                $('#msglist-count').after(html);
            }
        });
    });

    var FormatMSDateTime_Msg = function (dateTime) {
        if (dateTime == null) { return ""; }
        var reg = /-?\d+/;
        var dt = reg.exec(dateTime);
        var date = new Date(parseInt(dt[0]));
        return Utilities.formatDate(date, "yyyy-MM-dd hh:mm");
    }

</script>
