<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">教程</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Welcome", "Welcome", "Home")</li>
                    <li>@Html.ActionLink("First", "First", "Home")</li>
                    <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
                    <li>@Html.ActionLink("Students", "Index", "Student")</li>
                    <li>@Html.ActionLink("Courses", "Index", "Course")</li>
                    <li>@Html.ActionLink("Enrollments", "Index", "Enrollment")</li>
                    <li>@Html.ActionLink("Instructors", "Index", "Instrucotr")</li>
                </ul>
            </div>
        </div>
    </nav>
</div>