@Scripts.Render("~/bundles/bootbox")
<script type="text/javascript">
    var appEdit_msg = '@ViewData["noPermission"]';
    if (appEdit_msg != '') {
        bootbox.alert(appEdit_msg, function () { $(window).unbind('beforeunload'); window.location.href = '/'; });
    }
</script>

<!--表单开始-->
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">
                    贷款申请
                    <button class="btn btn-prev" type="button" onclick="history.go(-1);" style="float:right">
                        <i class="icon-reply"></i>
                        返回
                    </button>
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form id="applyInfoForm" action="#" method="post" class="form-horizontal">
                        <input type="hidden" name="appId" value="@ViewData["appId"]" />
                        <div class="step-content row-fluid position-relative" id="step-container">
                            <div id="step1">
                                <!--描述：是否显示拒绝进件信息，true:显示，false:不显示，添加时间：2015-03-06，添加人：leiz-->
                                @if (ViewData["IsDisplayRefuseLoan"].ToString().ToLower() == "true")
                                {
                                    @Html.Action("RefuseLoanDiscription", "Home")
                                }
                                <fieldset>
                                    <legend>申请信息</legend>
                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                客户名称
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" name="customerName" id="customerName" class="col-xs-12" disabled="disabled" value="@ViewData["customerName"]" />
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">
                                                身份证号码
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" name="customerIDCard" id="customerIDCard" class="col-xs-12" disabled="disabled" value="@ViewData["customerCardID"]" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                业务开办城市
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="applyCity" name="applyCity" disabled="disabled">
                                                    <option value="@{if(ViewData["edit_cityCode"]!=null)
                                                                     {@ViewData["edit_cityCode"]}
                                                                   }">
                                                        @{if (ViewData["edit_city"] != null)
                                                        {@ViewData["edit_city"]}}
                                                    </option>
                                                </select>
                                            </div>



                                            <label class="control-label col-xs-12 col-sm-2">合同金额：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="contractValue" id="contractValue" value="@{if (ViewData["contractAmt"] != null)
                                                                                                                  {@ViewData["contractAmt"]}}" class="col-xs-12" disabled="disabled" />
                                                <span class="input-group-addon">元</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                业务品种
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="productCode" name="productCode" disabled="disabled">
                                                    <option value="@{if (ViewData["proCode"] != null)
                                                                   {@ViewData["proCode"]}}">
                                                        @{if (ViewData["proName"] != null)
                                                        {@ViewData["proName"]}}
                                                    </option>
                                                </select>
                                            </div>
                                            <input type="hidden" id="productName" name="productName" />

                                            <label class="control-label col-xs-12 col-sm-2">
                                                申请期限
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="productTerm" name="productTerm" disabled="disabled">
                                                    <option value="@{if (ViewData["terms"] != null)
                                                                     {@ViewData["terms"]}
                                                                   }">
                                                        @{if (ViewData["terms"] != null)
                                                        {@ViewData["terms"]}}
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    @if (ViewData["carDisplay"] != null && ViewData["carDisplay"].ToString() == "display")
                                    {
                                        <div class="form-group" id="customerAndCar">
                                            <div class="clearfix">

                                                <label class="control-label col-xs-12 col-sm-2">
                                                    客户类型
                                                    <i class="icon-asterisk red smaller-80"></i>
                                                    ：
                                                </label>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="input-group">

                                                        @foreach (var item in ViewBag.CustomerType)
                                                        {
                                                            <label class="radio-inline">
                                                                @if (item.DATA_CODE.ToString() == (ViewData["customerKind"] == null ? string.Empty : ViewData["customerKind"].ToString()))
                                                                {
                                                                    <input name="customerType" type="radio" class="ace" value="@item.DATA_CODE" id="@item.DATA_CODE" checked="checked" disabled="disabled" />
                                                                }
                                                                else
                                                                {
                                                                    <input name="customerType" type="radio" class="ace" value="@item.DATA_CODE" id="@item.DATA_CODE" disabled="disabled" />
                                                                }
                                                                <span class="lbl control-label">@item.DATA_NAME</span>
                                                            </label>
                                                        }

                                                    </div>
                                                </div>

                                                <label class="control-label col-xs-12 col-sm-2">
                                                    购车种类
                                                    <i class="icon-asterisk red smaller-80"></i>
                                                    ：
                                                </label>
                                                <div class="input-group col-xs-12 col-sm-3">
                                                    <select class="col-xs-12" id="carType" name="carType" disabled="disabled">
                                                        <option value="@if(ViewData["carKindCode"]!=null)
                                                                       {@ViewData["carKindCode"]}">
                                                            @if (ViewData["carKindName"] != null)
                                                            { @ViewData["carKindName"]}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">还款方式：</label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="repaymentType" name="repaymentType" disabled="disabled">
                                                    <option value="@{if (ViewData["repayTypeCode"] != null)
                                                                   {@ViewData["repayTypeCode"]}}">
                                                        @{if (ViewData["repayType"] != null)
                                                        {@ViewData["repayType"]}}
                                                    </option>
                                                </select>
                                            </div>


                                            <label class="control-label col-xs-12 col-sm-2">申请利率：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="rate" id="rate" class="col-xs-12" value="@{if(ViewData["rate"]!=null)
                                                                                                                  {@((decimal)ViewData["rate"] * 100)}}" disabled="disabled" />
                                                <span class="input-group-addon">%</span>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                合作渠道
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="platform" name="platform" disabled="disabled">
                                                    <option value="@{if(ViewData["channelColde"]!=null)
                                                                   {@ViewData["channelColde"]}}">
                                                        @{if (ViewData["channel"] != null)
                                                        {@ViewData["channel"]}}
                                                    </option>
                                                </select>
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">罚息利率：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="defaultInterestRatio" id="defaultInterestRatio" class="col-xs-12" value="@{if (ViewData["interestRatio"] != null)
                                                                                                                                                  {@((decimal)ViewData["interestRatio"] * 1000)}}" disabled="disabled" />
                                                <span class="input-group-addon">‰</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                借款用途
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="input-group col-xs-12 col-sm-8">
                                                @foreach (var item in ViewBag.LoanPurpose)
                                                {
                                                    <label class="radio-inline">
                                                        @if (item.DATA_CODE.ToString() == (ViewData["loanPur"] == null ? string.Empty : ViewData["loanPur"].ToString()))
                                                        {
                                                            <input name="loanPurpose" type="radio" class="ace" value="@item.DATA_CODE" id="@item.DATA_CODE" checked="checked" disabled="disabled">
                                                        }
                                                        else
                                                        {
                                                            <input name="loanPurpose" type="radio" class="ace" value="@item.DATA_CODE" id="@item.DATA_CODE" disabled="disabled">
                                                        }

                                                        <span class="lbl control-label">@item.DATA_NAME</span>
                                                        @if (item.DATA_CODE.ToString() == "LoanPurposeOther")
                                                        {
                                                            if (item.DATA_CODE.ToString() == (ViewData["loanPur"] == null ? string.Empty : ViewData["loanPur"].ToString()))
                                                            {
                                                                <input type="text" name="memoOfLoanPurposeOther" id="memoOfLoanPurposeOther" value="@ViewData["memoOfLoanPurposeOther"]" disabled="disabled" />
                                                            }
                                                        }
                                                    </label>
                                                }

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                申请金额
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="input-group">
                                                    <input type="text" name="applyAmount" id="applyAmount" class="col-xs-12" value="@{if (ViewData["applyAmt"] != null)
                                                                                                                                    {@ViewData["applyAmt"]}}" maxlength="25" />
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">
                                                可接受月还款：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="input-group">
                                                    <input type="text" name="payAmtMonthly" id="payAmtMonthly" class="col-xs-12" value="@{if (ViewData["payAmtMonthly"]!=null){@ViewData["payAmtMonthly"]}}" maxlength="25" />
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    @if (ViewData["carDisplay"] != null && ViewData["carDisplay"].ToString() == "display")
                                    {
                                        <div class="form-group" id="BillAndLoan">
                                            <div class="clearfix">

                                                <label class="control-label col-xs-12 col-sm-2">
                                                    开票价格
                                                    <i class="icon-asterisk red smaller-80"></i>
                                                    ：
                                                </label>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="input-group">
                                                        <input type="text" name="carSellingPrice" id="carSellingPrice" class="col-xs-12" maxlength="25" value="@{if (ViewData["car_sellingprice"] != null)
                                                                                                                                                               {@ViewData["car_sellingprice"]}}" />
                                                        <span class="input-group-addon">元</span>
                                                    </div>
                                                </div>

                                                <label class="control-label col-xs-12 col-sm-2">
                                                    贷款比例：
                                                </label>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="input-group">
                                                        <input type="text" name="daikuan" id="daikuan" class="col-xs-12" maxlength="25" readonly="readonly" />
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </fieldset>

                                <fieldset>
                                    <legend>费用信息</legend>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">借款咨询费(含风险金)：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="consultationCharge" id="consultationCharge" class="col-xs-12" value="@{if (ViewData["consultationCharge"] != null)
                                                                                                                                              {@ViewData["consultationCharge"]}}" disabled="disabled" />
                                                <input type="hidden" name="consultationChargeRate" id="consultationChargeRate" value="@{if (ViewData["consultationChargeRatio"] != null)
                                                                                                                                      {@ViewData["consultationChargeRatio"]}}" disabled="disabled" />
                                                <span class="input-group-addon">元</span>
                                            </div>


                                            <label class="control-label col-xs-12 col-sm-2">借款服务费：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="serviceCharge" id="serviceCharge" class="col-xs-12" value="@{if (ViewData["serviceCharge"] != null)
                                                                                                                                    {@ViewData["serviceCharge"]}}" disabled="disabled" />
                                                <input type="hidden" name="serviceChargeRate" id="serviceChargeRate" value="@{if (ViewData["serviceChargeRatio"] != null)
                                                                                                                            {@ViewData["serviceChargeRatio"]}}" disabled="disabled" />
                                                <span class="input-group-addon">元</span>
                                            </div>

                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <hr />
                            <div class="row-fluid wizard-actions">
                                <button class="btn btn-primary btn-next" type="submit" id="btn_save">
                                    <i class="icon-save"></i>
                                    保存
                                </button>
                                @if (ViewData["isEdit"] != null && ViewData["isEdit"].ToString() == "true")
                                {
                                    <button class="btn btn-success btn-next" onclick="PerfectInfo();" id="btn_perfect" type="button">
                                        <i class="icon-edit"></i>
                                        完善资料
                                    </button>
                                }
                                else
                                {
                                    <a class="btn btn-success btn-next" href="/LoanApplication/Application?dformCode=@ViewData["logo"]&operation=3&appid=@ViewData["appId"]" id="btn_perfect">
                                        <i class="icon-edit"></i>
                                        查看申请单明细
                                    </a>
                                }
                            </div>

                        </div>
                    </form>
                    <!-- /widget-main -->
                </div>
                <!-- /widget-body -->
            </div>
        </div>
    </div>

</div>
<script src="/Content/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    /* 车辆贷款比例，从系统配置中读取 */
    var carLoanRatio = parseInt(GlobalConfig.GetGlobalSetting('CarLoanRatio'));
    //是否更改的标志
    var changeFlag = false;
    /* ready函数开始 */
    $(function () {
        //车贷贷款比例计算
        CalcLoanRatio.apply($('#carSellingPrice'));

        var cheDaiLogos = '@ViewData["CheDaiLogos"]';
        cheDaiLogos = cheDaiLogos.split(',');

        var isEdit = '@ViewData["isEdit"]';
        if (isEdit != 'true') {
            $('#btn_save').hide();
            $('#applyAmount').attr('disabled', true);
            $('#payAmtMonthly').attr('disabled', true);
            $('#carSellingPrice').attr('disabled', true);
        }

        $('input[type=text]').change(function () {
            changeFlag = true;
        });

        //输入贷款金额后计算合同金额
        $('#applyAmount').focus(function () {
            $(this).keyup(function () {

                AmtInputLimit.apply(this);
                CalcuContractValue.apply(this);
                CalcLoanRatio.apply(this);
            });
        }).blur(function() {
            $(this).unbind('keyup');
        });

        //输入开票价格后计算贷款比例
        $('#carSellingPrice').focus(function () {
            $(this).keyup(function () {
                //输入限制
                AmtInputLimit.apply(this);
                //计算贷款比例
                CalcLoanRatio.apply(this);
            });
        }).blur(function() {
            $(this).unbind('keyup');
        });

        $('#payAmtMonthly').focus(function () {
            $(this).keyup(function () {
                AmtInputLimit.apply(this);
            });
        }).blur(function() {
            $(this).unbind('keyup');
        });

        $('#applyInfoForm').validate({
            errorElement: 'i',
            errorPlacement: function (error, element) {
                if ($(element).attr('id') == 'applyAmount' || $(element).attr('id') == 'payAmtMonthly' || $(element).attr('id') == 'daikuan' || $(element).attr('id') == 'carSellingPrice') {
                    $(element).parent().parent().append(error);
                } else {
                    $(element).parent().append(error);
                }
            },
            rules: {
                applyAmount: { required: true, number: true, min: 10000, max: 500000 },
                payAmtMonthly: { number: true },
                carSellingPrice: { required: true, number: true },
                daikuan: { required: true, number: true, min: 1, max: carLoanRatio }
            },
            messages: {
                applyAmount: {
                    required: '<i class="icon-info-sign red">请填写申请金额!</i>', number: '<i class="icon-info-sign red">申请金额格式错误!</i>',
                    min: '<i class="icon-info-sign red">请输入不小于{0}的申请金额!</i>',
                    max: '<i class="icon-info-sign red">请输入不大于{0}的申请金额!</i>'
                },
                payAmtMonthly: { number: '<i class="icon-info-sign red">月还款金额格式错误!</i>' },
                carSellingPrice: {
                    required: '<i class="icon-info-sign red" style="font-size:12px">请输入开票金额!</i>',
                    number: '<i class="icon-info-sign red">金额格式错误!</i>'
                },
                daikuan: {
                    required: '<i class="icon-info-sign red" style="font-size:12px">贷款比例不能为空!</i>',
                    min: '<i class="icon-info-sign red">贷款比例不能为0</i>',
                    max: '<i class="icon-info-sign red">申请金额不能大于开票价格的{0}%</i>',
                }
            },
            invalidHandler: function (form, validator) {  //验证不通过
                return false;
            },
            submitHandler: function (form) {  //验证通过
                if (!$(form).valid()) {
                    return false;
                }
                var param = $("#applyInfoForm").serialize();
                $.ajax({
                    url: "/ProductApplication/ApplicationEdit",
                    type: "post",
                    dataType: "text",
                    data: param,
                    success: function (result) {
                        if (result) {
                            Utilities.alertTip(result);
                        } else {
                            Utilities.alertTip('保存成功！');
                            changeFlag = false;
                        }
                    }
                });
            }
        });

        if (cheDaiLogos.indexOf('@ViewData["logo"]') >= 0) {
            //如果为车贷，设置申请金额在10000-5000000之间
            $("#applyAmount").rules("remove");
            $("#applyAmount").rules("add", { required: true, number: true, min: 10000, max: 5000000 });
        }
    });
    /* ready函数结束 */

    //输入金额限制
    var AmtInputLimit = function() {
        $(this).val($(this).val().replace(/[^\d.]/g, "")); //清除“数字”和“.”以外的字符
        $(this).val($(this).val().replace(/^\./g, "")); //验证第一个字符是数字而不是.
        $(this).val($(this).val().replace(/\.{2,}/g, ".")); //只保留第一个. 清除多余的.
    };

    //计算贷款比例
    var CalcLoanRatio = function() {
        var sellingPrice = $('#carSellingPrice').val();
        var applyAmt = $('#applyAmount').val();
        if (sellingPrice && applyAmt) {
            $('#daikuan').val(((applyAmt / sellingPrice) * 100).toFixed(2));
        } else {
            $('#daikuan').val((0).toFixed(2));
        }
    };

    //计算合同金额，咨询费，服务费
    var CalcuContractValue = function () {
        var applyAmount = parseFloat($(this).val());
        if (!applyAmount) {
            applyAmount = 0;
        }
        //合同金额
        var contractAmt = applyAmount / (1 - parseFloat($('#consultationChargeRate').val()));
        //保留百位
        contractAmt = (contractAmt / 100).toFixed(0) * 100;
        //咨询费
        var consultationCharge = contractAmt - applyAmount;
        if (consultationCharge < 0) {
            consultationCharge = 0;
        }
        //服务费
        var serviceCharge = contractAmt * parseFloat($('#serviceChargeRate').val());
            
        $('#serviceCharge').val(serviceCharge.toFixed(2));
        $('#consultationCharge').val(consultationCharge.toFixed(2));
        $('#contractValue').val(contractAmt.toFixed(0));

    };

    function PerfectInfo() {
        var h = '/LoanApplication/Application?dformCode=@ViewData["logo"]&operation=1&appid=@ViewData["appId"]';
        if (changeFlag) {

            bootbox.dialog({
                message: "<span class='bigger-110'>是否保存您刚才修改的数据？</span>",
                buttons:
                {
                    "success":
                     {
                         "label": "<i class='icon-ok'></i>是",
                         "className": "btn-sm btn-success",
                         "callback": function () {
                             if ($('#applyInfoForm').valid()) {
                                 $('#applyInfoForm').submit();
                                 location.href = h;
                             }
                         }
                     },
                    "click":
                    {
                        "label": "否",
                        "className": "btn-sm btn-primary",
                        "callback": function () {
                            location.href = h;
                        }
                    },
                    "button":
                    {
                        "label": "取消",
                        "className": "btn-sm btn-default"
                    }
                }
            });


        } else {
            location.href = h;
        }
    }
</script>
<!--表单线束-->
