@Scripts.Render("~/bundles/bootbox")
<script type="text/javascript">
    var appEdit_msg = '@ViewData["noPermission"]';
    if (appEdit_msg != '') {
        bootbox.alert(appEdit_msg, function () { $(window).unbind('beforeunload'); window.location.href = '/'; });
    }
</script>

<!--表单开始-->
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">
                    贷款申请
                    <button class="btn btn-prev" type="button" onclick="history.go(-1);" style="float:right">
                        <i class="icon-reply"></i>
                        返回
                    </button>
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form id="applyInfoForm" action="#" method="post" class="form-horizontal">
                        <input type="hidden" name="appId" value="@ViewData["appId"]" />
                        <div class="step-content row-fluid position-relative" id="step-container">
                            <div id="step1">
                                <!--描述：是否显示拒绝进件信息，true:显示，false:不显示，添加时间：2015-03-06，添加人：leiz-->
                                @if (ViewData["IsDisplayRefuseLoan"] != null && ViewData["IsDisplayRefuseLoan"].ToString().ToLower() == "true")
                                {
                                    @Html.Action("RefuseLoanDiscriptionCar", "Home")
                                }
                                <fieldset>
                                    <legend>申请信息</legend>
                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                客户名称
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" name="customerName" id="customerName" class="col-xs-12" value="@ViewData["customerName"]" maxlength="25" />
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">
                                                身份证号码
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <input type="text" name="customerIDCard" id="customerIDCard" class="col-xs-12" value="@ViewData["customerCardID"]" maxlength="18" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                进件渠道
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="platform" name="platform">

                                                    @{if (ViewData["channelColde"] != null)
                                                        {
                                                            <option value="@ViewData["channelColde"]">
                                                                @ViewData["channel"]
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            @*<option value="">--选择渠道--</option>*@
                                                    foreach (var item in ViewBag.Platform)
                                                    {
                                                        <option value="@item.DATA_CODE">@(item.DATA_CODE + " " + item.DATA_NAME)</option>
                                                        }
                                                    }}

                                                </select>
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">
                                                业务开办城市
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="applyCity" name="applyCity">
                                                    <option value="@{if(ViewData["edit_cityCode"]!=null)
                                                                     {@ViewData["edit_cityCode"]}
                                                                   }">
                                                        @{if (ViewData["edit_city"] != null)
                                                            {@ViewData["edit_city"]}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                业务品种
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="productCode" name="productCode">

                                                    @{if (ViewData["proCode"] != null)
                                                        {
                                                            <option value="@ViewData["proCode"]">
                                                                @ViewData["proName"]
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="">--选择品种--</option>
                                                        }}

                                                </select>
                                            </div>
                                            <input type="hidden" id="productName" name="productName" />

                                            <label class="control-label col-xs-12 col-sm-2">
                                                申请期限
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="productTerm" name="productTerm">

                                                    @{if (ViewData["terms"] != null)
                                                        {
                                                            <option value="@ViewData["terms"]">
                                                                @ViewData["terms"]
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="">--选择期限--</option>
                                                        }}

                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group" id="customerAndCar">
                                        <div class="clearfix">
                                            <label class="control-label col-xs-12 col-sm-2">
                                                资金需求
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="input-group">
                                                    <input type="text" name="applyAmount" id="applyAmount" class="col-xs-12" value="@{if (ViewData["applyAmt"] != null)
                                                                                                                                    {@ViewData["applyAmt"]}}" maxlength="25" />
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>
                                            <div class="mini_only">
                                                <label class="control-label col-xs-12 col-sm-2">
                                                    发票价格
                                                    <i class="icon-asterisk red smaller-80"></i>
                                                    ：
                                                </label>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="input-group">
                                                        <input type="text" name="carSellingPrice" id="carSellingPrice" class="col-xs-12" maxlength="25" value="@{if (ViewData["car_sellingprice"] != null){@ViewData["car_sellingprice"]}}" />
                                                        <span class="input-group-addon">元</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mini_only">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">
                                                可接受月还款：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="input-group">
                                                    <input type="text" name="payAmtMonthly" id="payAmtMonthly" class="col-xs-12" value="@{if (ViewData["payAmtMonthly"]!=null){@ViewData["payAmtMonthly"]}}" maxlength="25" />
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">合同金额：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="contractValue" id="contractValue" value="@{if (ViewData["contractAmt"] != null)
                                                                                                                  {@ViewData["contractAmt"]}}" class="col-xs-12" disabled="disabled" />
                                                <span class="input-group-addon">元</span>
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">还款方式：</label>
                                            <div class="col-xs-12 col-sm-3">
                                                <select class="col-xs-12" id="repaymentType" name="repaymentType">
                                                    <option value="@{if (ViewData["repayTypeCode"] != null)
                                                                   {@ViewData["repayTypeCode"]}}">
                                                        @{if (ViewData["repayType"] != null)
                                                            {@ViewData["repayType"]}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="clearfix">
                                            <label class="control-label col-xs-12 col-sm-2">申请利率：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="rate" id="rate" class="col-xs-12" value="@(ViewData["rate"] != null ? ((decimal)ViewData["rate"] * 100) : (decimal)0.00)" disabled="disabled" />
                                                <span class="input-group-addon">%</span>
                                            </div>

                                            <label class="control-label col-xs-12 col-sm-2">罚息利率：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="defaultInterestRatio" id="defaultInterestRatio" class="col-xs-12" value="@(ViewData["interestRatio"] != null?(decimal)ViewData["interestRatio"] * 1000:(decimal)0.00)" disabled="disabled" />
                                                <span class="input-group-addon">‰</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group gps_only">
                                        <div class="clearfix">
                                            <label class="control-label col-xs-12 col-sm-2">
                                                借款用途
                                                <i class="icon-asterisk red smaller-80"></i>
                                                ：
                                            </label>
                                            <div class="input-group col-xs-12 col-sm-8">
                                                @foreach (var item in ViewBag.LoanPurpose)
                                                {
                                                    <label class="radio-inline">
                                                        @if (item.DATA_CODE.ToString() == (ViewData["loanPur"] == null ? string.Empty : ViewData["loanPur"].ToString()))
                                                        {
                                                            <input name="loanPurpose" type="radio" class="ace" value="@item.DATA_CODE" id="@item.DATA_CODE" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input name="loanPurpose" type="radio" class="ace" value="@item.DATA_CODE" id="@item.DATA_CODE">
                                                        }

                                                        <span class="lbl control-label">@item.DATA_NAME</span>
                                                        @if (item.DATA_CODE.ToString() == "LoanPurposeOther")
                                                        {
                                                            if (item.DATA_CODE.ToString() == (ViewData["loanPur"] == null ? string.Empty : ViewData["loanPur"].ToString()))
                                                            {
                                                                <input type="text" name="memoOfLoanPurposeOther" id="memoOfLoanPurposeOther" value="@ViewData["memoOfLoanPurposeOther"]" />
                                                            }
                                                            else
                                                            {
                                                                <input type="text" name="memoOfLoanPurposeOther" id="memoOfLoanPurposeOther" style="display:none" maxlength="20" value="" />
                                                            }
                                                        }
                                                    </label>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mini_only" id="BillAndLoan">
                                        <div class="clearfix">
                                            <label class="control-label col-xs-12 col-sm-2">
                                                贷款比例：
                                            </label>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="input-group">
                                                    <input type="text" name="daikuan" id="daikuan" class="col-xs-12" maxlength="25" readonly="readonly" />
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>费用信息</legend>

                                    <div class="form-group">
                                        <div class="clearfix">

                                            <label class="control-label col-xs-12 col-sm-2">借款咨询费(含风险金)：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="consultationCharge" id="consultationCharge" class="col-xs-12" value="@(ViewData["consultationCharge"] != null ? ViewData["consultationCharge"] : "0.00")" disabled="disabled" />
                                                <input type="hidden" name="consultationChargeRate" id="consultationChargeRate" value="@(ViewData["consultationChargeRatio"] != null ? ViewData["consultationChargeRatio"] : 0)" />
                                                <span class="input-group-addon">元</span>
                                            </div>


                                            <label class="control-label col-xs-12 col-sm-2">借款服务费：</label>
                                            <div class="input-group col-xs-12 col-sm-3">
                                                <input type="text" name="serviceCharge" id="serviceCharge" class="col-xs-12" value="@(ViewData["serviceCharge"] != null ? ViewData["serviceCharge"] : "0.00")" disabled="disabled" />
                                                <input type="hidden" name="serviceChargeRate" id="serviceChargeRate" value="@(ViewData["serviceChargeRatio"] != null ? ViewData["serviceChargeRatio"] : 0)" />
                                                <span class="input-group-addon">元</span>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <hr />
                            <div class="row-fluid wizard-actions">
                                @if (ViewData["isEdit"] != null && ViewData["isEdit"].ToString() == "true")
                                {
                                    <button class="btn btn-primary btn-next" type="submit" id="btn_save">
                                        <i class="icon-save"></i>
                                        保存
                                    </button>
                                    <button class="btn btn-success btn-next" onclick="PerfectInfo();" id="btn_perfect" type="button">
                                        <i class="icon-edit"></i>
                                        完善资料
                                    </button>
                                }
                                else if (@ViewData["appId"] != null)
                                {
                                    <a class="btn btn-success btn-next" href="/LoanApplication/Application?dformCode=@ViewData["logo"]&operation=3&appid=@ViewData["appId"]" id="btn_perfect">
                                        <i class="icon-edit"></i>
                                        查看申请单明细
                                    </a>
                                }
                                else
                                {
                                    <button class="btn btn-success" type="submit" id="submitBtn">
                                        下一步
                                        <i class="icon-arrow-right icon-on-right"></i>
                                    </button>
                                }
                            </div>

                        </div>
                    </form>
                    <!-- /widget-main -->
                </div>
                <!-- /widget-body -->
            </div>
        </div>
    </div>
</div>
<script src="/Content/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    /* 车辆贷款比例，从系统配置中读取 */
    var carLoanRatio = parseInt(GlobalConfig.GetGlobalSetting('CarLoanRatio'));
    //是否更改的标志
    var changeFlag = false;
    var loanAmountMsg = "申请金额";

    //当前是否是新进件页面
    var IsAdd = '@ViewData["appId"]' == '';

    /* ready函数开始 */
    $(function () {
        //车贷贷款比例计算
        CalcLoanRatio.apply($('#carSellingPrice'));

        $('input[type=text]').change(function () {
            changeFlag = true;
        });

        //输入贷款金额后计算合同金额
        $('#applyAmount').focus(function () {
            $(this).keyup(function () {
                //输入限制
                AmtInputLimit.apply(this);
                //计算合同金额
                CalcuContractValue.apply(this);
                //计算贷款比例
                CalcLoanRatio.apply(this);
            });

        }).blur(function () {
            $(this).unbind('keyup');
        });


        //输入发票价格后计算贷款比例
        $('#carSellingPrice').focus(function () {
            $(this).keyup(function () {
                //输入限制
                AmtInputLimit.apply(this);
                //贷款比例
                CalcLoanRatio.apply(this);
            });
        }).blur(function () {
            $(this).unbind('keyup');
        });

        $('#payAmtMonthly').focus(function () {
            $(this).keyup(function () {
                AmtInputLimit.apply(this);
            });
        }).blur(function () {
            $(this).unbind('keyup');
        });

        $('[name=loanPurpose]').change(function () {
            var loanOtherText = $('#memoOfLoanPurposeOther');
            if ($('#LoanPurposeOther').is(':checked')) {
                $(loanOtherText).css('display', 'inline-block');
            } else {
                $(loanOtherText).css('display', 'none');
            }
        });

        //加载城市
        if (IsAdd)
        {
            $.getJSON('/ProductApplication/GetCities?menuGroup=CXVEHICLE&d=' + new Date(), function (result) {
                var cities = $('#applyCity').change(function () {
                    /*var cityVal = $(this).val();--V2*/
                    //清空产品信息
                    InitProduct();

                    var cityCode = $(this).val().split(',')[1];//城市编码
                    if (cityCode != '') {
                        //加载产品信息
                        $.getJSON('/ProductApplication/GetProductAndRepayType?cityCode=' + cityCode + '&d=' + new Date() + '&type=CXVEHICLE', function (data) {
                            var products = InitProduct();
                            $(data.proList).each(function (index, item) {
                                $(products).append('<option value="' + item.productCode + '">' + item.productName + '</option>');
                            });
                        });
                        InitRepayment();
                    } else {
                        //清空相关信息
                        InitProduct();
                        InitTerm();
                        InitRate();
                        CalcuContractValue.apply($('#applyAmount'));
                        //CalcLoanRatio.apply($('#carSellingPrice'));
                    }

                }).empty().append('<option value="">--选择城市--</option>');

                /*$(result.cityList).each(function (index, item) {
                    if (result.currentCityCode == item.CITY_CODE) {
                        $(cities).append('<option value="' + item.CITY_CODE + '" selected="selected">' + item.CITY_NAME + '</option>');
                    } else {
                        $(cities).append('<option value="' + item.CITY_CODE + '">' + item.CITY_NAME + '</option>');
                    }
                });--V2*/

                $(result.cityList).each(function (index, item)
                {
                    if (result.currentCityCode == item.CityCode.split(',')[1]) {
                        $(cities).append('<option value="' + item.CityCode + '" selected="selected">' + item.CityName + '</option>');
                    } else {
                        $(cities).append('<option value="' + item.CityCode + '">' + item.CityName + '</option>');
                    }
                });

                $(cities).change();
            });
        }
        else
        {
            $("fieldset input,fieldset select").attr("disabled", true);
            var isEdit = '@ViewData["isEdit"]';
            if (isEdit == 'true') {
                $('#applyAmount').attr('disabled', false);
                $('#payAmtMonthly').attr('disabled', false);
                $('#carSellingPrice').attr('disabled', false);
                $('#daikuan').attr('disabled', false);
            }
            InitPage($("#productCode").val());
        }

        //选择产品后加载期数，费率,logo
        //还款方式 2015/10/8 修改
        $('#productCode').change(function () {
            var proCode = $(this).val();
            //$('#productName').val($(this).children('option:selected').text());
            //期数
            InitTerm();
            //费率归零
            InitRate();

            $.getJSON('/ProductApplication/GetProductInfo?proCode=' + proCode + '&d=' + new Date(), function (data) {
                ChangePage(data.loanAmountTitle);

                //期数
                var term = InitTerm();
                $(data.termList).each(function (index, item) {
                    if (data.termList.length == 1) {
                        $(term).append('<option value="' + item + '" selected="selected">' + item + '</option>');
                    } else {
                        $(term).append('<option value="' + item + '">' + item + '</option>');
                    }
                });
                if (data.chargeList != null) {
                    //费率
                    var tempAry = data.chargeList.rate.toString().split('.');
                    var xiaoshu = 0;
                    if (tempAry.length > 1 && tempAry[1].length > 2) {
                        /* -2的由来：data.chargeList.rate * 100 中100的位数 */
                        xiaoshu = tempAry[1].length - 2;
                    }
                    $('#rate').val((data.chargeList.rate * 100).toFixed(xiaoshu));   //申请利率

                    tempAry = data.chargeList.defaultInterestRatio.toString().split('.');
                    xiaoshu = 0;
                    if (tempAry.length > 1 && tempAry[1].length > 3) {
                        /* -2的由来：data.chargeList.defaultInterestRatio * 100 中100的位数 */
                        xiaoshu = tempAry[1].length - 3;
                    }
                    $('#defaultInterestRatio').val((data.chargeList.defaultInterestRatio * 1000).toFixed(xiaoshu));    //罚息利率

                    $('#serviceChargeRate').val(data.chargeList.serviceChargeRatio); //借款服务费
                    $('#rateType').val(data.chargeList.rateType);    //利率类型
                }
                //还款方式 2015/10/8 修改，支持多个还款方式
                //if (data.repayType != null) {
                //    $('#repaymentType').empty().append('<option value="' + data.repayType.dataCode + '">' + data.repayType.dataName + '</option>');
                //}
                if (data.repayType != null) {
                    var repaymentType = $('#repaymentType').empty();
                    $(data.repayType).each(function(index, item) {
                        repaymentType.append('<option value="' + item.dataCode + '">' + item.dataName + '</option>');
                    });
                }

                $('#consultationChargeRate').val(data.consultationChargeRatio); //借款咨询费

                CalcuContractValue.apply($('#applyAmount'));

                //加载购车种类
                //$.getJSON('/ProductApplication/GetCarKinds?logo=' + data.logoStr + '&d=' + new Date(), function (kinds) {
                //    var carType = $('#carType');
                //    carType.empty().append('<option value="">--选择种类--</option>');
                //    $(kinds).each(function (index, item) {
                //        carType.append('<option value="' + item.DATA_CODE + '">' + item.DATA_NAME + '</option>');
                //    });
                //});

            });

            //CalcuContractValue.apply($('#applyAmount'));
        });

    });
    /* ready函数结束 */

    //根据产品初始化页面显示内容
    var InitPage = function (proCode) {
        $.getJSON('/ProductApplication/GetInfoByProductCode?proCode=' + proCode + '&d=' + new Date(), function (data) {
            ChangePage(data.loanAmountTitle);
        });
    };

    //根据产品显示申请金额字段的标题和提示信息 create by zhanghao on 2016-04-20
    function ChangePage(loanAmountMsg) {
        //根据产品显示申请金额的标题
        if (loanAmountMsg != "") {
        }
        else {
            loanAmountMsg = "申请金额";
        }
        //根据不同的产品显示页面的内容
        if (loanAmountMsg == "申请金额") {
            $(".gps_only").hide();
            $(".mini_only").show();
        }
        else {
            $(".mini_only").hide();
            $(".gps_only").show();
        }

    }

    //输入金额限制
    var AmtInputLimit = function () {
        $(this).val($(this).val().replace(/[^\d.]/g, "")); //清除“数字”和“.”以外的字符
        $(this).val($(this).val().replace(/^\./g, "")); //验证第一个字符是数字而不是.
        $(this).val($(this).val().replace(/\.{2,}/g, ".")); //只保留第一个. 清除多余的.
    };

    //计算贷款比例
    var CalcLoanRatio = function () {
        var sellingPrice = $('#carSellingPrice').val();
        var applyAmt = $('#applyAmount').val();
        if (sellingPrice && applyAmt && sellingPrice != 0) {
            $('#daikuan').val(((applyAmt / sellingPrice) * 100).toFixed(2));
        } else {
            $('#daikuan').val((0).toFixed(2));
        }
    };

    function PerfectInfo() {
        var h = '/LoanApplication/Application?dformCode=@ViewData["logo"]&operation=1&appid=@ViewData["appId"]';
        if (changeFlag) {

            bootbox.dialog({
                message: "<span class='bigger-110'>是否保存您刚才修改的数据？</span>",
                buttons:
                {
                    "success":
                     {
                         "label": "<i class='icon-ok'></i>是",
                         "className": "btn-sm btn-success",
                         "callback": function () {
                             if ($('#applyInfoForm').valid()) {
                                 $('#applyInfoForm').submit();
                                 location.href = h;
                             }
                         }
                     },
                    "click":
                    {
                        "label": "否",
                        "className": "btn-sm btn-primary",
                        "callback": function () {
                            location.href = h;
                        }
                    },
                    "button":
                    {
                        "label": "取消",
                        "className": "btn-sm btn-default"
                    }
                }
            });


        } else {
            location.href = h;
        }
    }

    //计算合同金额，咨询费，服务费
    var CalcuContractValue = function () {
        var applyAmount = parseFloat($(this).val());
        if (!applyAmount) {
            applyAmount = 0;
        }
        //合同金额
        var contractAmt = applyAmount / (1 - parseFloat($('#consultationChargeRate').val()));
        //保留百位
        contractAmt = (contractAmt / 100).toFixed(0) * 100;
        //咨询费
        var consultationCharge = contractAmt - applyAmount;
        if (consultationCharge < 0) {
            consultationCharge = 0;
        }
        //服务费
        var serviceCharge = contractAmt * parseFloat($('#serviceChargeRate').val());

        $('#serviceCharge').val(serviceCharge.toFixed(2));
        $('#consultationCharge').val(consultationCharge.toFixed(2));
        $('#contractValue').val(contractAmt.toFixed(0));

    };
    //计算贷款比例
    var CalcLoanRatio = function () {
        var sellingPrice = $('#carSellingPrice').val();
        var applyAmt = $('#applyAmount').val();
        if (sellingPrice && applyAmt) {
            $('#daikuan').val(((applyAmt / sellingPrice) * 100).toFixed(2));
        } else {
            $('#daikuan').val((0).toFixed(2));
        }
    };
    //费率归零
    var InitRate = function () {
        $('#rate').val(0);
        $('#defaultInterestRatio').val(0);
        $('#serviceChargeRate').val(0);
        $('#consultationChargeRate').val(0);
        $('#rateType').val(0);
    };
    //初始化期限
    var InitTerm = function () {
        return $('#productTerm').empty().append('<option value="">--选择期限--</option>');
    };
    //初始化品种
    var InitProduct = function () {
        return $('#productCode').empty().append('<option value="">--选择品种--</option>');
    };
    //初始化还款方式
    var InitRepayment = function () {
        return $('#repaymentType').empty();
    };

    //验证
    $.validator.addMethod("isIdCard", function (value, element) {
        return Utilities.IsIdCard(value); //this.optional(element) ||
    }, '不是合法的身份证！');

    $.validator.addMethod("checkIfGreatThen", function (value, element) {
        return value <= parseFloat($('#applyAmount').val());
    }, "数值过大！");
    if (IsAdd) {
          $('#applyInfoForm').validate({
            errorElement: 'i',
            errorPlacement: function (error, element) {
                //$(element).attr('id') == 'applyAmount' || $(element).attr('id') == 'payAmtMonthly' ||
                if ($(element).attr('id') == 'applyAmount' || $(element).attr('id') == 'payAmtMonthly' || $(element).attr('id') == 'daikuan' || $(element).attr('id') == 'carSellingPrice') {
                    $(element).parent().parent().append(error);
                } else if ($(element).attr('name') == 'loanPurpose') {  //|| $(element).attr('name') == 'customerType'
                    $(element).parent().parent().parent().append(error);
                } else {
                    $(element).parent().append(error);
                }
            },
            rules: {
                customerName: { required: true, maxlength: 20 },
                customerIDCard: { required: true, isIdCard: true },
                applyCity: { required: true },
                productCode: { required: true },
                productTerm: { required: true },
                applyAmount: { required: true, number: true, min: 10000, max: 5000000 },
                payAmtMonthly: { number: true, checkIfGreatThen: true },
                loanPurpose: { required: true },
                //customerType: { required: true },
                //carType: { required: true },
                memoOfLoanPurposeOther: { required: true },
                platform: { required: true },
                carSellingPrice: { required: true, number: true },
                daikuan: { required: true, number: true, min: 0, max: carLoanRatio }
            },
            messages: {
                customerName: { required: '<i class="icon-info-sign red">请填写客户名称!</i>', maxlength: '<i class="icon-info-sign red">客户名称大于规定字符数！</i>' },
                customerIDCard: { required: '<i class="icon-info-sign red">请输入身份证号!</i>', isIdCard: '<i class="icon-info-sign red">不是合法的身份证号!</i>' },
                applyCity: { required: '<i class="icon-info-sign red">请选择开办城市!</i>' },
                productCode: { required: '<i class="icon-info-sign red">请选择业务品种!</i>' },
                productTerm: { required: '<i class="icon-info-sign red">请选择申请期限!</i>' },
                applyAmount: {
                    required: '<i class="icon-info-sign red">请填写资金需求!</i>', number: '<i class="icon-info-sign red">资金需求格式错误!</i>',
                    min: '<i class="icon-info-sign red">请输入不小于{0}的资金需求!</i>',
                    max: '<i class="icon-info-sign red">请输入不大于{0}的资金需求!</i>'
                },
                payAmtMonthly: { number: '<i class="icon-info-sign red">月还款金额格式错误!</i>', checkIfGreatThen: '<i class="icon-info-sign red">月还款金额不能大于资金需求!</i>' },
                loanPurpose: { required: '<i class="icon-info-sign red">请选择借款用途!</i>' },
                //customerType: { required: '<i class="icon-info-sign red">请选择客户类型!</i>' },
                //carType: { required: '<i class="icon-info-sign red">请选择购车种类!</i>' },
                memoOfLoanPurposeOther: { required: '<i class="icon-info-sign red" style="font-size:12px">请填写借款用途其他!</i>' },
                platform: { required: '<i class="icon-info-sign red" style="font-size:12px">请选择合作渠道!</i>' },
                carSellingPrice: {
                    required: '<i class="icon-info-sign red" style="font-size:12px">请输入发票价格!</i>',
                    number: '<i class="icon-info-sign red">金额格式错误!</i>'
                },
                daikuan: {
                    required: '<i class="icon-info-sign red" style="font-size:12px">贷款比例不能为空!</i>',
                    min: '<i class="icon-info-sign red">贷款比例不能为0</i>',
                    max: '<i class="icon-info-sign red">资金需求不能大于发票价格的{0}%</i>'
                }
            },
            invalidHandler: function (form, validator) {  //验证不通过
                return false;
            },
            submitHandler: function (form) {  //验证通过
                if (!$(form).valid()) {
                    return false;
                }

                var param = $("#applyInfoForm").serialize();
                $.ajax({
                    url: "/ProductApplication/Application?menuCode=CXVEHICLE",
                    type: "post",
                    dataType: "text",
                    data: param,
                    success: function (result)
                    {
                        eval('var data = ' + result);
                        if (data.isRedirect != 'true')
                        {
                            Utilities.alertTip(data.resultMsg);
                        } else {
                            window.location.href = data.resultMsg;
                        }
                    }
                });
                //为了防止多次点击生成多余的申请单，所以在点击一次后禁用
                $('#submitBtn').attr('disabled', 'disabled');

            }
        });
    }
    else {
        $('#applyInfoForm').validate({
            errorElement: 'i',
            errorPlacement: function (error, element) {
                if ($(element).attr('id') == 'applyAmount' || $(element).attr('id') == 'payAmtMonthly' || $(element).attr('id') == 'daikuan' || $(element).attr('id') == 'carSellingPrice') {
                    $(element).parent().parent().append(error);
                } else {
                    $(element).parent().append(error);
                }
            },
            rules: {
                applyAmount: { required: true, number: true, min: 10000, max: 5000000 },
                payAmtMonthly: { number: true, checkIfGreatThen: true },
                carSellingPrice: { required: true, number: true },
                daikuan: { required: true, number: true, min: 1, max: carLoanRatio }
            },
            messages: {
                applyAmount: {
                    required: '<i class="icon-info-sign red">请填写资金需求!</i>', number: '<i class="icon-info-sign red">资金需求格式错误!</i>',
                    min: '<i class="icon-info-sign red">请输入不小于{0}的资金需求!</i>',
                    max: '<i class="icon-info-sign red">请输入不大于{0}的资金需求!</i>'
                },
                payAmtMonthly: { number: '<i class="icon-info-sign red">月还款金额格式错误!</i>',checkIfGreatThen: '<i class="icon-info-sign red">月还款金额不能大于资金需求!</i>'},
                carSellingPrice: {
                    required: '<i class="icon-info-sign red" style="font-size:12px">请输入发票价格!</i>',
                    number: '<i class="icon-info-sign red">金额格式错误!</i>'
                },
                daikuan: {
                    required: '<i class="icon-info-sign red" style="font-size:12px">贷款比例不能为空!</i>',
                    min: '<i class="icon-info-sign red">贷款比例不能为0</i>',
                    max: '<i class="icon-info-sign red">资金需求不能大于发票价格的{0}%</i>'
                }
            },
            invalidHandler: function (form, validator) {  //验证不通过
                return false;
            },
            submitHandler: function (form) {  //验证通过
                if (!$(form).valid()) {
                    return false;
                }
                var param = $("#applyInfoForm").serialize();
                $.ajax({
                    url: "/ProductApplication/ApplicationEdit",
                    type: "post",
                    dataType: "text",
                    data: param,
                    success: function (result) {
                        if (result) {
                            Utilities.alertTip(result);
                        } else {
                            Utilities.alertTip('保存成功！');
                            changeFlag = false;
                        }
                    }
                });
            }
        });
    }
</script>
<!--表单线束-->
